<div class="row d-flex justify-content-start pt-2 pb-5">
    <h3>Angle Between Vectors</h3>
    <div class="pt-5"></div>

        <div class="col-md-4">
            <div class="row">
                <h6><b>Definition:</b></h6>
                <a>The angle between two vectors, deferred by a single point, 
                    called the shortest angle at which you have to turn around one of the vectors 
                    to the position of co-directional with another vector.</a>
            </div>

            <div class="pt-5"></div>
            <div class="pt-5"></div>
            <div class="pt-5"></div>

            <div class="row">
                <h6><b>Relations 1:</b></h6>
                <a>The cosine of the angle between two vectors is equal to 
                    the dot product of this vectors divided by the product of vector magnitude.</a>
            </div>
           
        </div>

        <div class="col-md-2">
            <div class="row">
                <img src="/assets/img/vector_angl.png"/>
                <h6><b>Pic.1</b> Angle between vectors</h6>
            </div>

            <div class="pt-5"></div>

            <div class="row">
                <h6><b>Equation</b></h6>
                <h3><ng-katex [equation]="equation"></ng-katex></h3>
            </div>
        </div>

        <div class="col-md-6">
            <img src="/assets/img/trig_tab.png" style="width: 90%;" class="px-5"/>
            <h6 class="px-5"><b>Pic.2</b> Trigonometry Table</h6>
        </div>
</div>

<!--
<div class="row d-flex justify-content-start pt-5">
    <div class="col-md-4">
        <h6><b>Relations 1:</b></h6>
        <a>The cosine of the angle between two vectors is equal to 
            the dot product of this vectors divided by the product of vector magnitude.</a>
    </div>
    <div class="col-md-2">
        <h6><b>Equation</b></h6>
        <h3><ng-katex [equation]="equation"></ng-katex></h3>
    </div>
</div>
-->