<div class="row d-flex justify-content-start pt-2">
    <h3>Dot Product of two Vectors</h3>
    <div class="pt-5"></div>

    <div class="col-md-4">
        <h6><b>Definition:</b></h6>
        <a>The dot product (inner product or scalar product) is an operation on two vectors which produces a scalar.</a>
    </div>
    <div class="col-md-4">
        <img src="/assets/img/dot_prod_pic.png" style="width: 80%;"/>
        <h6><b>Pic.1</b> Dot Product</h6>
    </div>
</div>

<div class="row d-flex justify-content-start pt-5">
    <div class="col-md-4">
        <h6><b>Relations 1:</b></h6>
        <a>Dot product of two vectors <ng-katex [equation]="a_vec"></ng-katex> and <ng-katex [equation]="b_vec"></ng-katex>
            is a scalar quantity equal to the sum of pairwise products of coordinate vectors <ng-katex [equation]="a_vec"></ng-katex> and <ng-katex [equation]="b_vec"></ng-katex>.
        </a>
    </div>
    <div class="col-md-4">
        <h6><b>Equation</b></h6>
        <h3><ng-katex [equation]="equation"></ng-katex></h3>
    </div>
</div>
