<nav class="navbar-expand-lg navbar-light" style="background-color: #A8B4C0;">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarCenteredExample"
        aria-controls="navbarCenteredExample"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <!-- Collapsible wrapper -->
      <div
        class="collapse navbar-collapse justify-content-center"
        id="navbarCenteredExample"
      >
        <!-- Left links -->
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active nav-item-style" aria-current="page" href="#" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active nav-item-style" aria-current="page" href="#" routerLink="/learn">Learn</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active logo px-4" aria-current="page"><b>Mathi</b>culum</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active nav-item-style" aria-current="page" href="#" routerLink="/check-yourself">Check yourself</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active nav-item-style" aria-current="page" href="#" routerLink="/calculate">Calculate</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>