<div class="row d-flex justify-content-start pt-2">
    <h3>Scalar-Vector multiplication</h3>
    <div class="pt-5"></div>
    <div class="col-md-6">
        <h6><b>Definition 1:</b></h6>
        <a>The product of non-zero vector by the number is a vector collinear with given (codirectional given if the number is positive, having the 
            opposite direction if the number is negative) and its magnitude is equal to the module of the vector multiplied by the module of number.</a>
    </div>
    <div class="col-md-6 px-5">
        <img src="../../assets/img/scalar.png" style="width: 99%;"/>
        <h6><b>Pic.1</b> Scalar Vector Multi.</h6>
    </div>
</div>

<div class="row d-flex justify-content-center pt-5">
    <div class="col-md-6">
        <h6><b>Definition 2:</b></h6>
        <a> The product of non-zero vector by the number is a vector which coordinates are
            equal to the corresponding coordinates of the vector, multiplied by the number.</a>
    </div>
    <div class="col-md-6 px-5">
        <h6><b>Formula:</b></h6>
        <h3><ng-katex [equation]="equation"></ng-katex></h3>
    </div>
</div>
