<div class="row d-flex justify-content-start pt-2 pb-5">
    <h3>Add or Substract Vectors</h3>
    <div class="pt-5"></div>

    <div class="col-md-4">
        <h6><b>Definition 1:</b></h6>
        <a>Addition of vectors (sum of vectors) <ng-katex [equation]="a_vec"></ng-katex>+<ng-katex [equation]="b_vec"></ng-katex> is operation of a finding of a vector 
            <ng-katex [equation]="c_vec"></ng-katex> , coordinates of which are equal to the sum of all corresponding coordinates of vector
            <ng-katex [equation]="a_vec"></ng-katex> and <ng-katex [equation]="b_vec"></ng-katex>  can be defined as <b>Formula 1</b>.</a>

            <div class="pt-5"></div>

            <h6><b>Formula 1:</b></h6>
            <h3><ng-katex [equation]="equation_plus"></ng-katex></h3>

            <div class="pt-5"></div>

            <img src="/assets/img/vec_add.svg" style="width: 90%;"/>
            <h6><b>Pic.1</b> Vectors Adding</h6>

    </div>

    <div class="col-md-4">
       <img src="/assets/img/hand.png" style="width: 90%;" />
    </div>

    <div class="col-md-4">
        <h6><b>Definition 2:</b></h6>
        <a>Addition of vectors (sum of vectors) <ng-katex [equation]="a_vec"></ng-katex>-<ng-katex [equation]="b_vec"></ng-katex> is operation of a finding of a vector 
            <ng-katex [equation]="c_vec"></ng-katex> , coordinates of which are equal to the sum of all corresponding coordinates of vector
            <ng-katex [equation]="a_vec"></ng-katex> and <ng-katex [equation]="b_vec"></ng-katex>  can be defined as <b>Formula 2</b>.</a>

            <div class="pt-5"></div>

            <h6><b>Formula 2:</b></h6>
            <h3><ng-katex [equation]="equation_minus"></ng-katex></h3>

            <div class="pt-5"></div>

            <img src="/assets/img/vec_sub.svg" style="width: 90%;"/>
            <h6><b>Pic.2</b> Vectors Substraction</h6>

    </div>

    <!--<div class="col-md-4">
        <div class="row">
            <div class="col-md-8">
                <img src="../../assets/img/scalar.png" style="width: 90%;"/>
                <a>Vectors adding</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <img src="../../assets/img/scalar.png" style="width: 90%;"/>
                <a>Vectors adding</a>
            </div>
        </div>
    </div>-->
</div>

<!--<div class="row d-flex justify-content-center pt-5">
    <div class="col-md-2">
        <h6><b>Formula 1:</b></h6>
        <h3><ng-katex [equation]="equation_minus"></ng-katex></h3>
    </div>
    <div class="col-md-2">
        <h6><b>Formula 2:</b></h6>
        <h3><ng-katex [equation]="equation_plus"></ng-katex></h3>
    </div>
</div>-->
