<div class="row d-flex justify-content-start pt-2">
    <h3>Matrix multiplication</h3>
    <div class="pt-5"></div>
    <div class="col-md-4">
        <h6><b>Definition:</b></h6>
        <a>In mathematics, particularly in linear algebra, matrix multiplication is a binary operation that produces a matrix from two matrices.</a>
    </div>
    <div class="col-md-4">
        <img src="../../assets/img/matrix.png" style="width: 90%;"/>
        <h6><b>Pic.1</b> Matrix Multi.</h6>
    </div>
</div>

<div class="row d-flex justify-content-center pt-5">
    <div class="col-md-4">
        <h6><b>Relations 1:</b></h6>
        <a>Two matrices can be multiplied with each other when the number of columns of the first matrix equals the number of rows of the second matrix.</a>
    </div>
    <div class="col-md-8">
        <h6><b>Equation</b></h6>
        <h3><ng-katex [equation]="equation"></ng-katex></h3>
    </div>
</div>
