<div class="row d-flex justify-content-start pt-2">
    <h3>Orthogonal Vectors</h3>
    <div class="pt-5"></div>
    <div class="col-md-8">
        <div class="row d-flex justify-content-start pt-2">
            <div class="col-md-4">
                <h6><b>Definition 1:</b></h6>
                <a>Two vectors  <ng-katex [equation]="vec_a"></ng-katex> and  <ng-katex [equation]="vec_b"></ng-katex> are orthogonal, if their dot product is equal to zero.</a>
            </div>
        
            <div class="col-md-6">
                <h6><b>Formula:</b></h6>
                <h3><ng-katex [equation]="equation"></ng-katex></h3>
            </div>
        </div>

        <div class="row d-flex justify-content-start pt-2">
            <div class="col-md-6">
                <img src="../../assets/img/vec_ortho.svg" style="width: 99%;"/>
                <h6><b>Pic.1</b> Orthogonal Vectors</h6>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <img src="../../assets/img/plate.jpg" />
        <h6><b>Pic.2</b> Orthogonal vectors in 3D vector space</h6>
    </div>

</div>


<!--
<div class="row d-flex justify-content-start pt-2">
    <div class="col-md-2">
        <h6><b>Definition 1:</b></h6>
        <a>Two vectors  <ng-katex [equation]="vec_a"></ng-katex> and  <ng-katex [equation]="vec_b"></ng-katex> are orthogonal, if their dot product is equal to zero.</a>
    </div>

    <div class="col-md-2">
        <h6><b>Formula:</b></h6>
        <h3><ng-katex [equation]="equation"></ng-katex></h3>
    </div>

    <div class="col-md-4 px-5">
        <img src="../../assets/img/vec_ortho.svg" style="width: 99%;"/>
        <h6><b>Pic.1</b> Orthogonal Vectors</h6>
    </div>

    <div class="col-md-4 px-5">
        <img src="../../assets/img/plate.jpg" />
        <h6><b>Pic.2</b> Orthogonal vectors in 3D vector space</h6>
    </div>

</div>-->

<!--
<div class="row d-flex justify-content-start pt-2">
    <div class="col-md-4">
        <img src="../../assets/img/vec_ortho.svg" style="width: 90%;"/>
        <h6><b>Pic.1</b> Orthogonal Vectors</h6>
    </div>
</div>

<div class="row d-flex justify-content-center pt-5">
    <div class="col-md-6">
        <h6><b>Definition 2:</b></h6>
        <a>The product of non-zero vector by the number is a vector which coordinates 
            are equal to the corresponding coordinates of the vector, multiplied by the number.</a>
    </div>
    <div class="col-md-6">
        <h6><b>Formula:</b></h6>
        <h3><ng-katex [equation]="equation"></ng-katex></h3>
    </div>
</div>-->
