@import '~katex/dist/katex.css';

#page-container {
    position: relative;
    min-height: 100vh;
  }
  
#content-wrap {
    padding-bottom: 2.5rem;
  }
  
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }