<div class="section pb-5" style="background-color: #A8B4C0;">
    <div class="container text-center pt-5 pb-5">
        <a class="motto">"Math is Fun"</a>
        <h4>You will learn it fast with us</h4>
    </div>
</div>

<div class="section" style="background-color: #C4CFCF;">
    <div class="container p-5">
        <div class="row">
            <div class="col-md-4 pt-5 text-center">
                <a class="homeheadings">Our mission</a>
            </div>
                <div class="col-md-6 pt-5 pb-5">
                    <a>"Anioły Moje" is a group of students.
                        We like to challeng ourselves in events like hackathons to check our skills and teamwork in stressful situasions.
                        Our aim is to deliver working prototype to each event we participate in and have a lot of fun with each other.
                        We create our projects in languages like python, c++, java and JavaScript. 
                        All of us are multilingual mostly english and polish. We are not afraide to try and experiment with new frameworks or technology.</a>
                </div>
                <div class="col-md-2 pt-5 pb-5 px-2">
                    <a href="https://weii.tu.koszalin.pl/" target="_blank"><img src="../img/weii.jpg" style="width: 90%; border-radius: 600px;" /></a>
                </div>
        </div>
    </div>
</div>

<div class="section" style="background: url(../../assets/img/mat_pat.png) repeat;">
    <div class="container text-center p-5">
        <div class="row">
            <div class="col-md-4 pt-5">
                <a class="homeheadings">Our vision</a>
            </div>
            <div class="col-md-6 pt-5 pb-5">
                <a>We believe that we are on the face of the earth to make great products and that's not changing. We are constantly focusing on innovating.
                 We believe in the simple not the complex. We believe that we need to own and control the primary technologies behind the products that we make, 
                 and participate only in markets where we can make a significant contribution.
                We believe in saying no to thousands of projects, so that we can really focus on the few that are truly important and meaningful to us.</a>
            </div>
        </div>
    </div>
</div>

<div class="section" style="background-color: #C4CFCF;">
    <div class="container text-center p-5">
        <div class="row">
            <div class="col-md-4 pt-5">
                <a class="homeheadings">Our team</a>
            </div>
            <div class="col-md-6 pt-5 pb-5">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-4">
                        <img src="/assets/img/poli.jpg" style="border-radius: 150px; width: 80%;">
                        <a class="nicks">Patryk Anrzejewski</a>
                    </div>
                    <div class="col-md-4">
                        <img src="img/nast.jpg" style="border-radius: 150px; width: 80%;">
                        <a class="nicks">Anastasiya Prakapovich</a>
                    </div>
                    <div class="col-md-4">
                        <img src="/assets/img/kozzuro.jpg" style="border-radius: 150px; width: 80%;">
                        <a class="nicks">Oliwier Jabłoński</a><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section"  style="background: url(../../assets/img/mat_pat.png) repeat;">
    <div class="container text-center pt-5">
        <div class="row">
            <div class="col-md-4 pt-2">
                <a class="homeheadings">Social media</a>
            </div>
            <div class="col-md-6 pb-5">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-3">
                        <a class="btn-floating btn-lg text-dark" href="https://www.facebook.com/weii.koszalin/" style="font-size: 50pt;" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    </div>
                    <div class="col-md-3">
                        <a class="btn-floating btn-lg text-dark" href="https://www.instagram.com/anastasiaprokopovich/" role="button" data-mdb-ripple-color="dark" style="font-size: 50pt;" target="_blank"><i class="fab fa-instagram"></i></a>
                    </div>
                    <div class="col-md-3">
                        <a class="btn-floating btn-lg text-dark" href="https://github.com/Anioly-Moje" role="button" data-mdb-ripple-color="dark" style="font-size: 50pt;" target="_blank"><i class="fab fa-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
